# OS
.DS_Store
Thumbs.db

# Composer
composer.phar
composer.lock

# Sass
.sass-cache

# Node
/node_modules
/npm-debug.log

# bower
/bower_components

# Laravel
/bootstrap/compiled.php
/vendor
.env
Homestead.yaml


# Public var files
!/public/_img/png/sprite/*
/public/_*
/public/vendor/*
/assets/js/generated/*.js

# Testing
/report/

# phpstorm
.idea

# Storage
/storage/tmp/*
/storage/uploads/*
