//-------------------------\\
// COLOUR VARIABLES
//-------------------------\\

$dark-gray: #333;
$medium-gray: #999;

// UICP
$black-translucent: rgba(0, 0, 0, 0.13);
$blue: #78B9D6;
$gold: #FBD030;
$green: #85B54A;
$grey-translucent: rgba(65, 65, 65, 0.3);
$grey: #414141;
$light-grey: #EBEDEA;
$medium-grey: #9B9B9B;
$orange: #DF6B3D;
$purple: #D45189;
$red: #EB211A;
$white: #fff;

$base-font-color: $grey;
$base-font-color-lighter: #a0a0a0;
