//------------------------------\\
// FONTS
//------------------------------\\

$baseline: 24px;

$base-font-size: 16px; // Used for REM mixin
$font-main: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-secondary: Arial, sans-serif;
