body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/d1/55/6c/d1556c08f2313ec2cbc51fdd1d7f7024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-sidebar {
    display: block;
    margin-bottom: ($baseline / 2);

    @include breakpoint (medium){
        display: flex;
    }

    #chatroom {
        font-family: $font-main;
        margin: ($baseline / 2) ($baseline / 2) 0px ($baseline / 2);
        min-height: 300px;
        border: 2px solid #22BCCC;
        overflow: none;
        display: block;

        @include breakpoint (medium){
            flex: 3 1 auto;
            margin: ($baseline / 2) ($baseline / 4) 0px ($baseline / 2);
        }

        #conversation {
            font-family: $font-main;
            list-style: none;
            padding: 0px;
            overflow-y: scroll;
            max-height: 300px;

            li {
                padding: 5px 10px;
                opacity: 0.85;
                border-top: 1px solid $white;

                .date{
                    display: block;
                    font-size: 10px;
                    text-align: right;
                    padding-top: ($baseline / 3);
                }
            }
        }
    }

    .sidebar {
        margin: ($baseline / 2) ($baseline / 2) 0px ($baseline / 4);
        display: block;
        border: 2px solid #22BCCC;
        background: rgba(255, 255, 255, 0.85);
        overflow-y: scroll;
        overflow: auto;

        @include breakpoint (medium){
            flex: 1 0 auto;
        }

        #userList {
            h4 {
                padding: ($baseline / 2);
                margin: 0px;
                font-size: 1.5em;
                text-decoration: underline;
            }

            #users div {
                padding: ($baseline / 2);
            }
        }
    }
}

.button_input_group{
    display: flex;
    margin: 0 ($baseline / 2) 0px ($baseline / 2);

    #data {
        padding: ($baseline / 2);
        flex: 2.5 1 auto;
        height: auto;
        font-size: 1em;
        margin-right: ($baseline / 2);
    }

    #datasend{
        flex: 1 1 auto;
    }
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
    background-size: contain;
    vertical-align: text-top;
}

ul li p, b {
    display: inline-block;
}

p, b {
    padding-right: 5px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
