button {
	display:inline-block;
	padding:8px 20px;
	background: #e98ad3;
	color: $white;
	line-height:1;
	text-align:center;
	border-radius: 4px;
	width: 100%;
    font-weight: bold;
    margin-top: 12px;
    border: 1px solid $white;

	&:hover {
		// Need some sort of hover style?!
		color: $white;
	}

	&:active {
		position:relative;
		top:1px;
	}
}