//-----------------------------------\\
// FOUNDATIONAL STYLES
//-----------------------------------\\

html{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
